.bg-success{
    background-color: cornflowerblue;
}

.bg-primary{
    background-color: rgb(251, 141, 62);
}

.bg-secondary{
    background-color: rgb(58, 183, 112);
    margin-top: 10px;
    margin-left: 121px;
}